//init
$menusize:50px;
*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    background-color: black;
    color:white;
}
//titres
h2{
    text-align:center;
    text-decoration: underline;
    font-weight: bold;

    &.title{
    background-color:rgb(189, 189, 189);
    padding: 0;
    margin:0;
    }
}
//part 1
.bouton{
    display:flex;
    justify-content: space-around;
    margin-bottom:20px;
    [class^=bt]{
        margin:5px;
        padding:10px;
        text-decoration:none;
        color:white;
        border:3px white solid;
        transition-property:transform, background-color, color;
        transition-duration: 0.75s;
    }
    .bt_1:hover{
            background-color: white;
            color:black;
    }

    .bt_2:hover{
            background-color: white;
            color:black;
            transform: scale(1.3); 
    }

    .bt_3:hover{
            background-color: white;
            color:black;
            transform: translateX(30px);
    }
   
}
//part 2
.sidebar{
    background-color:rgb(189, 189, 189);
    height: auto;
    ul{
        padding-left:0px;
        margin:0;
        padding-top:0px;
        li{
            list-style: none;
            width:$menusize;
            display:flex;
            a{
                display: flex;
            }
            img{
                height:$menusize;
                width:$menusize;
                padding:10px;
                background-color: rgb(104, 103, 103);
                display: block;
                transition-property: background-color;
                transition-duration: 0.75s;
            }
            
            .first{
                background-color: rgb(66, 65, 65);
                padding:5px;
            }

            .pop-up{
                position: absolute;
                text-align:center;
                width:2*$menusize;
                transform:translateX(-(2*$menusize));
                color:rgba(255, 255, 255, 0);
                background-color: rgba(66, 65, 65, 0);
                transition:transform 0.5s, background-color 1s, color 1s;
            }
        }
        li:hover{
            
            img{
                background-color: whitesmoke;
            }
            .pop-up{
                background-color: rgb(66, 65, 65);
                color:whitesmoke;
                transform:translateX($menusize);
            }
        }
    }
    
}
.debug{
        border:red solid 1px;
    }





