* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white; }

h2 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold; }
  h2.title {
    background-color: #bdbdbd;
    padding: 0;
    margin: 0; }

.bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 20px; }
  .bouton [class^=bt] {
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
    border: 3px white solid;
    -webkit-transition-property: background-color, color, -webkit-transform;
    transition-property: background-color, color, -webkit-transform;
    -o-transition-property: transform, background-color, color;
    transition-property: transform, background-color, color;
    transition-property: transform, background-color, color, -webkit-transform;
    -webkit-transition-duration: 0.75s;
    -o-transition-duration: 0.75s;
    transition-duration: 0.75s; }
  .bouton .bt_1:hover {
    background-color: white;
    color: black; }
  .bouton .bt_2:hover {
    background-color: white;
    color: black;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); }
  .bouton .bt_3:hover {
    background-color: white;
    color: black;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px); }

.sidebar {
  background-color: #bdbdbd;
  height: auto; }
  .sidebar ul {
    padding-left: 0px;
    margin: 0;
    padding-top: 0px; }
    .sidebar ul li {
      list-style: none;
      width: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .sidebar ul li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .sidebar ul li img {
        height: 50px;
        width: 50px;
        padding: 10px;
        background-color: #686767;
        display: block;
        -webkit-transition-property: background-color;
        -o-transition-property: background-color;
        transition-property: background-color;
        -webkit-transition-duration: 0.75s;
        -o-transition-duration: 0.75s;
        transition-duration: 0.75s; }
      .sidebar ul li .first {
        background-color: #424141;
        padding: 5px; }
      .sidebar ul li .pop-up {
        position: absolute;
        text-align: center;
        width: 100px;
        -webkit-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        transform: translateX(-100px);
        color: rgba(255, 255, 255, 0);
        background-color: rgba(66, 65, 65, 0);
        -webkit-transition: background-color 1s, color 1s, -webkit-transform 0.5s;
        transition: background-color 1s, color 1s, -webkit-transform 0.5s;
        -o-transition: transform 0.5s, background-color 1s, color 1s;
        transition: transform 0.5s, background-color 1s, color 1s;
        transition: transform 0.5s, background-color 1s, color 1s, -webkit-transform 0.5s; }
    .sidebar ul li:hover img {
      background-color: whitesmoke; }
    .sidebar ul li:hover .pop-up {
      background-color: #424141;
      color: whitesmoke;
      -webkit-transform: translateX(50px);
      -ms-transform: translateX(50px);
      transform: translateX(50px); }

.debug {
  border: red solid 1px; }
