* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white; }

.bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 20px; }
  .bouton [class^=bt] {
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
    border: 3px white solid;
    -webkit-transition-property: background-color, color, -webkit-transform;
    transition-property: background-color, color, -webkit-transform;
    -o-transition-property: transform, background-color, color;
    transition-property: transform, background-color, color;
    transition-property: transform, background-color, color, -webkit-transform;
    -webkit-transition-duration: 0.75s;
    -o-transition-duration: 0.75s;
    transition-duration: 0.75s; }
  .bouton .bt_1:hover {
    background-color: white;
    color: black; }
  .bouton .bt_2:hover {
    background-color: white;
    color: black;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); }
  .bouton .bt_3:hover {
    background-color: white;
    color: black;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px); }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: grey; }
  .menu .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .menu .sidebar img {
      width: 70px;
      height: 70px;
      -webkit-text-decoration-color: Orange;
      text-decoration-color: Orange;
      background-color: #575757;
      padding: 20px;
      -webkit-transition-property: background-color;
      -o-transition-property: background-color;
      transition-property: background-color;
      -webkit-transition-duration: 0.75s;
      -o-transition-duration: 0.75s;
      transition-duration: 0.75s; }
    .menu .sidebar .imgV {
      background-color: #353535;
      padding: 10px; }
    .menu .sidebar img:hover {
      background-color: whitesmoke; }
  .menu .pop-up {
    position: absolute; }
    .menu .pop-up .pop {
      height: 70px;
      width: 140px; }

.debug {
  border: red solid 2px; }
